body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.unstyled-list {
  list-style-type: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.gray-bg {
  background-color: var(--gray-bc);
}
